.App {
  background: #bdcdd6;
  margin: 0 auto;
  width: 75%;
}

body {
  background: #bdcdd6;
}
input[type="checkbox"]:checked + label.strikethrough {
  text-decoration: line-through;
}
input[type="checkbox"] {
  width: 26px;
  height: 24px;
  clip-path: circle(40% at 50% 50%);
  margin-top: 5%;
  margin-left: 3%;
}

.strikethrough {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-left: 40px;
  margin-top: 24px;
  width: 100px;

  color: #130e0e;
}
#div-box {
  width: 451px;
  height: 70px;
  display: flex;
  margin: auto;
  margin-top: 13px;
  margin-left: 449px;
  background: #eee9da;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input1 {
  width: 451px;
  height: 48px;
  margin-left: 448px;
  margin-top: 26px;

  background: #eee9da;
}
.icon {
  width: 25px;
  height: 22px;
  margin-bottom: 2rem;
}
.butoncancel {
  background: none;
  border: none;
  margin-left: 67%;
  padding-top: 20px;
}

h2 {
  width: 122px;
  height: 49px;
  padding-left: 602px;
  margin-top: 135px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  text-align: center;

  color: #6096b4;
}
